
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* border: 2px solid ; */
  background-color:antiquewhite;
  border-radius: 0.4rem;
  box-shadow: 10px 10px 5px lightblue;
}

.container form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
   

}

label {
    font-weight: bold;
    padding: 0.2rem;
}

input {
    border-radius: 0.2rem;
    border: 0.1rem grey;
    padding: 0.9rem;
    margin-bottom: 1rem;
}

button {
    background-color: goldenrod;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.7rem;
    border-radius: 0.2rem;
    border: transparent;
}

button:hover {
    background-color: brown;
    cursor: pointer;
}