.headin {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(27, 27, 48);
  font-weight: bold;
  margin-bottom: 3rem;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 1rem;
}

.search input {
  /* background-color: rgb(208, 223, 233); */
  border: 0.5px solid grey;
  /* font-size: 1rem; */
  /* border-radius: 1rem; */
  margin-bottom: 1.5rem;
  padding: 0.45rem;
}

.search button {
  border: transparent;
  border-radius: 0.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(220, 163, 19);
  padding: 0.6rem;
  color: white;

}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


th,
td {
  text-align: left;
  border: 1px solid black;
  padding: 0.3rem;
  max-width: 7rem;
}

th {
  background-color: antiquewhite;
  padding: 1rem;
}

#add-item-btn a {
  text-decoration: none;
  color: aliceblue;
}