/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.container {
  width: 55%;
  background-color: rgb(242, 223, 223);
  height: 100%;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px lightblue;
  
}

.top {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#user-image {
  font-size: 5.5rem;
  object-fit: cover;
  /* border-radius: 50%; */
  /* background-color: antiquewhite; */
}

#userName {
  margin-top: 1rem;
  letter-spacing: 0.02rem;
  font-family: "kaushan script";
  font-size: 2rem;
  font-weight: 650;
  color: rgb(64, 58, 58);
  text-transform: capitalize;
}

.info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
}

.info div {
  padding: 0.6rem;
  margin-bottom: 0.6rem;
}

.apply-change {
  display: none;
  border: transparent;
  background-color: antiquewhite;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}

.apply-change:hover {
  cursor: pointer;
  background-color: brown;
  color: aliceblue;
}

.show-btn {
  display: block;
}

.fa-pencil:hover {
  cursor: pointer;
}

#mail {
  text-transform: lowercase;
}

#edt-btn {
  border: transparent;
  padding: 0.5rem;
  border-radius: 0.35rem;
  background-color: rgb(20, 20, 45); 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

#cart a, #edt-btn, #dashboard a, #send_feedback a {
  color: aliceblue;
}

#cart, #dashboard, #send_feedback {
  padding: 0.5rem;
  border-radius: 0.35rem;
  background-color: rgb(20, 20, 45);  
}

#cart:hover,
#orders:hover,
#contact_us:hover,
#send_feedback:hover,
#edt-btn:hover,
#dashboard:hover {
  cursor: pointer;
  background-color: rgb(72, 75, 39);
}


