/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 55%;
  background-color: rgb(185, 171, 171);
  height: 100%;
  border-radius: 2rem;
}

.top {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#user-image {
  font-size: 5.5rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: antiquewhite;
}

#userName {
  margin-top: 1rem;
  letter-spacing: 0.02rem;
  font-family: "kaushan script";
  font-size: 2rem;
  font-weight: 650;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.info div {
  padding: 0.6rem;
  margin-bottom: 0.6rem;
}

.apply-change {
  display: none;
  border: transparent;
  background-color: antiquewhite;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}

.apply-change:hover {
  cursor: pointer;
  background-color: brown;
  color: aliceblue;
}

.show-btn {
  display: block;
}

.fa-pencil:hover {
  cursor: pointer;
}

#mail {
  text-transform: lowercase;
}

#cart:hover,
#orders:hover,
#contact_us:hover,
#send_feedback:hover {
  cursor: pointer;
  color: aliceblue;
}
