body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket{
    margin-top: 2rem;
    /* border: 2px solid; */
    padding: 1rem;
    background-color:rgb(211, 188, 159);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45%;
    border-radius: 1rem;
}

#warn{
    color: rgb(34, 34, 163);
    font-size: 0.9rem;
    display: block;
}